@max-width: 1024px;
@device-width-medium: 720px;
@title-family: 'WPP Medium','Open Sans', Helvetica, Arial, sans-serif;
@body-family: 'WPP Light','Open Sans', Helvetica, Arial, sans-serif;
@btn-family: 'WPP Light','Open Sans', Helvetica, Arial, sans-serif;
@font-color: #333333;
@font-color-inverted: #ffffff;
@theme-logo: "assets/de3de54b1343168ad2897d52bae673ca1998bee2.png";
@theme-logo-width: 90%;
@color-one: rgba(32, 84, 147, 0.73);
@color-two: rgba(46, 133, 64, 0.78);
@color-three: rgba(91, 97, 107, 0.86);
@color-four: rgba(46, 133, 64, 0.78);
@color-five: rgba(91, 97, 107, 0.86);
@color-six: rgba(32, 84, 147, 0.73);
@color-seven: rgba(91, 97, 107, 0.86);
@color-eight: rgba(46, 133, 64, 0.78);
@color-nine: rgba(32, 84, 147, 0.73);
@color-ten: rgba(46, 133, 64, 0.78);
@item-color: rgba(46, 133, 64, 0.78);
@item-color-inverted: #ffffff;
@visited: #333333;
@visited-inverted: #ffffff;
@btn-color: #333333;
@btn-color-inverted: #ffffff;
@disabled: #dddddd;
@validation-success: #8cc63f;
@validation-success-inverted: #ffffff;
@validation-error: #d60303;
@validation-error-inverted: #ffffff;
@progress: #333333;
@progress-inverted: #ffffff;
@progress-border: #333333;
@nav: #8cc63f;
@nav-icon: #ffffff;
@nav-icon-inverted: #9096a0;
@nav-icon-hover: #ffffff;
@nav-icon-inverted-hover: #333333;
@navigation-logo: "assets/de3de54b1343168ad2897d52bae673ca1998bee2.png";
@footer: #333333;
@footer-logo: "assets/f9855a4bc775449c566dabcd78c05fde759d0689.png";
@notify: #333333;
@notify-inverted: #ffffff;
@drawer: #333333;
@drawer-inverted: #ffffff;
@background: #470f0f;
@background-inverted: #ffffff;
@shadow: #333333;
@shadow-inverted: #ffffff;
